<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <%- include('header') %>
    
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <canvas id="carouselCanvas"></canvas>

    <%- include('footer') %>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="/javascripts/index.js"></script>
  </body>
</html>
